@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Entertainers";

}

@model ProjectsViewModel 

<div class="container">
    <div class="text-center">
        <h1>Entertainer List</h1>
    </div>
    @foreach (Entertainer e  in Model.Entertainers)
            {
                <div class="card card-outline-primary m-1 p-1">
                    <div class="bg-faded p-1">
                        <h4>@e.EntStageName</h4>
                        <span class="card-text" style="float:right">
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@e.EntertainerId">Details</a>
                        </span>
                    </div>
                    <div></div>
                </div>
            }
    <div class="text-center m-3 p-3">
        <a asp-action="Input" asp-controller="Home" class="btn btn-primary">Add New Entertainer</a>
    </div>
</div>
