@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container m-4">
    <h1 class="display-4">Entertainer Info</h1>
    <p>Welcome to the Entertainment Webpage. This site will display a list of Entertainers and the details about them. The site also has the ability to add, edit, and delete entertainers. Click here for a list of the <a asp-controller="Home" asp-action="Entertainers">Entertainers</a>.</p>
</div>
